<!-- app/views/products/_products_list.html.erb -->

<h2>Products</h2>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %>
      (<%= product.description %>, <%= number_to_currency(product.price) %>)
    </li>
  <% end %>
</ul>
